CompileFlags:
  CompilationDatabase: build
  Compiler: clang++
Diagnostics:
  MissingIncludes: None
  UnusedIncludes: None
  ClangTidy:
    Add: ["*"]
    Remove: [
      "fuchsia-*",
      "google-build-*",
      "llvmlibc-*",
      "altera-unroll-loops",
      "bugprone-easily-swappable-parameters",
      "cppcoreguidelines-avoid-magic-numbers",
      "cppcoreguidelines-non-private-member-variables-in-classes",
      "cppcoreguidelines-prefer-member-initializer",
      "cppcoreguidelines-pro-bounds-array-to-pointer-decay",
      "cppcoreguidelines-special-member-functions",
      "google-readability-todo",
      "hicpp-no-array-decay",
      "hicpp-special-member-functions",
      "hicpp-uppercase-literal-suffix",
      "misc-non-private-member-variables-in-classes",
      "modernize-use-trailing-return-type",
      "readability-identifier-length",
      "readability-magic-numbers",
      "readability-uppercase-literal-suffix"
    ]
InlayHints:
  BlockEnd: No
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 0
Index:
  Background: Build
